<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="lib/angular.min.js"></script>
    <script src="src/narrow/narrow.module.js"></script>
    <script src="src/narrow/narrow.controller.js"></script>
    <script src="src/narrow/menusearch.service.js"></script>
    <script src="src/narrow/founditems.component.js"></script>
    <script src="src/loader/loader.module.js"></script>
    <script src="src/loader/itemsloaderindicator.component.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-inline">
      <div class="form-group pull-left">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
      </div>
      <div class="loader-wrapper">
        <items-loader-indicator triggering-event-id="menusearch:processing"></items-loader-indicator>
      </div>
      <button class="btn btn-primary" ng-click="ctrl.narrowItDown(ctrl.searchTerm)">Narrow It Down For Me!</button>
    </div>
    <div class="alert alert-warning" ng-if="ctrl.nothingFound">Nothing found</div>
    <found-items found-items="ctrl.foundItems" on-remove="ctrl.removeItem(index)"></found-items>
  </div>

</body>
</html>
